@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
   <h3 class="ms-fontsize-42 ms-fontWeight-regular">Welcome to your Movie Space</h3>
   <p class="ms-fontSize-14 ms-fontWeight-regular">A Balzor Web Assembly Project</p>

    <div class="content px-4">
        @Body
    </div>
</div>
